<!-- views/travel_places/_form.html.erb -->
<%= form_with(model: meeting, local: true, html: { class: 'form' }) do |form| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "ошибка") %> form filling:</h2>
      <ul>
        <% meeting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %></br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :location %></br>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :datetime %><br>
    <%= form.datetime_field :datetime %>
  </div>

  <div class="field">
    <%= form.label :description %></br>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit meeting.persisted? ? 'Update' : 'Create' %>
  </div>
<% end %>
